.histoireType {
    text-align: justify;
    background-color: #DDDDDD;
    }

.new {
    font-size: 60%;
        color: red;
        margin-bottom: 2px;
        margin-right: 5px;
}


img{
    max-height: 300px;
    width: auto;
}
